*{
    font-family: 'Noto Sans', sans-serif;
    color: #6c6b6b;
    margin: 0;
}

#foodfit-logo{
    width: 50%;
    margin: 4%;
}

hr{
    border:none;
    width: 100%;
    height: 60px;
    margin-top: 0;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 10px 50px -15px #333;
    margin: -77px auto 5.5%; 
    padding-bottom: 4%;
  
}