/* about us page */


#about-view {
    padding-bottom: 3em;
}

.banner {
    text-align: center;
}

.proPic {
    max-width: 90%;
    max-height: 90%;
}

.name {
    padding: .5em;
}

.icon {
    padding-top: 10px;
}