.hamburger{
    background:none;
    position: absolute;
    width: 18%;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    line-height: 67px;
    font-size:3em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background-color: #f1f1f1 ;
    position:absolute;
    width: 18%;
    top:0;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:6em;
    line-height:83px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{
    z-index:1;
    font-weight:bold;
    font-size:0.8em;
    width:100%;
    background:#f1f1f1;
    position:relative;
    text-align:center;
    font-size:12px;
    padding-left: 0;
    box-shadow: 0 10px 50px -15px #333;
}
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
  .menu li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
}
  .menu li:hover{
    display: block;
    background:#ffffff;
    padding:15px 0 15px 0;
    border-bottom:#dddddd 1px solid;
}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}
  
  .glyphicon-home{
    color:rgb(196, 24, 24); 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
  }

  header{display:inline-block; font-size:12px; position: fixed; top: 0; z-index: 2}
  a{color:#336699;}
 .inner-nav{
    background-color: white;
 }

nav {
    position: relative;
    color: #999;
} 

#tdee-button{
    width: 80%;
    background-color: rgb(95, 180, 212);
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 15px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 15px 32px;
    text-decoration: none;
    margin: auto auto;
}

@media (min-width: 800px) {
    .cross{
         display: none !important;
    }

    .hamburger{
        display: none !important;
   }

   #nav, .menu{
       display: flex !important;
       margin-right: 6% !important;
       align-items: center;
    }
    
    li{
        border: none !important;
        border-bottom: none; 
        display: flex;
        /* padding: 10% !important; */
        width: 100%;
        margin-right: 45px;
   }

   .menu, li:hover{

   }

   header{
       width: 100%;
   }


    header{display:inline-block; font-size:12px; }

    #nav-hr{
        display: none;
    }

    #foodfit-logo{
        width:20%; /* you can use % */
        height: 20%;
        margin: 0;
        padding: 1%;
    }

    section{
        width: 100%;
        margin: 0 auto;
    }    

    .view{
        margin: 0 auto;
    }

    
    .info{
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 0 auto; 
        margin-top: 12% !important; 
        background-color: rgba(108, 108, 108, 0.7);
        color: white;
        height: 100%;
    }
    .home-para{
        color: white;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 1%; 
    }

    h3{
        color: white;
        font-size: 2.5em;
        text-align: center;

    }

    #home-view{
        width: 100%;
        /* overflow: hidden; */
        height: 130%;
        background: url('/styles/images/foodBackground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;  
    }

    .homepage-masthead{
        display: none;

    }

    .homepage-button{
        margin: 0 auto !important;
        width: 60%;
        margin-bottom: 4% !important;
    }

    #search-form, #activitySearch-view, #tdee-view{
        margin-top: 12%;

    }
    #activitySearch-view, #tdee-view{
        margin-left: 2%;
    }
    
    #foodResults-view, #recipe-box{
        margin-top: 9%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #about-view{
        margin-top: 8%;
        padding-left: 2%;
        
    }

    .person{
        margin-bottom: 2%; 
    }

    .thumbnail-activity{
        display: inline;
        width: 400px;
        margin: 2%;
        max-height: 570px;
    }
    
    #activity-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        padding-left: 2%;
    }

    .thumbnail{
        width: 400px;
        height: auto;
        min-width: 200px;
    }

    .view-less, .view-more{
        display: none;
    }

    .recipe-info{
        display: flex !important;
        flex-direction: column;
    }

    .quick-view-serving-background{
        display: none;
    }

    .image-container{
        height: auto;
    }

    .save-recipe{
        bottom: -1%;
    }

    #foodSearch-view, #search-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1%;
    }

    input, select{
        min-width: 400px;
        max-width: 600px;
        margin-bottom: 2%;
        padding-left: 1%;
    }


    .submit{
        min-width: 400px;

        max-width: 600px;
        
    }

    .save-recipe, .delete-recipe{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 28%;
        height: 4%;
        border-radius: 15px 0px 0px 0px;
        background-color: #5fb4d4;
        border: none;
        color: white;
        padding: 1.5px 3.2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15em;
    }

    #tdee-button{
        min-width: 400px;
        max-width: 540px;        
        margin-bottom: 4% !important;
        border-radius: 15px;
        background-color: #5fb4d4;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5em;
        margin-bottom: 4%;
        margin-left: .25%;
    }

    .save-recipe, .delete-recipe{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 28%;
        height: 4%;
        border-radius: 15px 0px 0px 0px;
        background-color: #5fb4d4;
        border: none;
        color: white;
        padding: 1.5px 3.2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.15em;
    }
}
